body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.bg
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(sign.jpg);
	background-size: cover;
	height: 100vh;
	background-position: center;
}
.loginbox
{

	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9));
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 30px;
	position: absolute;
}
.loginbox h1
{
	font-size: 50px;
	font-family: cursive;
    font-weight: bold;
}
.loginbox p
{
	font-weight: bold;
	margin: 0;
	padding: 5px;
	font-family: cursive;
	font-size: 15px;
}
.loginbox input
{
	font-size: 15px;
	color: white;
}
.loginbox input[type="text"], input[type="password"]
{
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid white; 
	outline: none;
	height: 30px;
}
.loginbox input[type="date"]
{
    background: transparent;
	border: none;
	border-bottom: 1px solid white; 
	outline: none;
	color: white;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	padding: 10px;
	margin-top: 15px;
	width: 100%;
	height: 40px;
	background: red;
	color: white;
	font-size: 16px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	background-color: #ffc107;
	cursor: pointer;
}
.loginbox a
{
	color: darkgrey;
	text-decoration: none;
}
.loginbox a:hover
{
	color: #ffc107;
}























































